
body {
  background-color: whitesmoke;
}
header .navbar {
  height: 100px;
  background: #0fc690;
}
.logo {
  font-size: 38px;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin: 0px 30px;
}
header .nav {
  margin-left: 50%;
  margin-top: -50px;
}
.sub_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
header .navbar a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  margin: auto 25%;
  padding: 1em;
  color: white;
}
main p {
  font-size: 13px;
}
.left-box {
  background-color: hsl(31, 77%, 52%);
  width: 100%;
  padding: 2em;
}
.middle-box {
  background-color: hsl(184, 100%, 22%);
  width: 100%;
  padding: 2em;
}
.right-box {
  background-color: hsl(179, 100%, 13%);
  width: 100%;
  padding: 2em;
}
button {
  margin: 2rem 0 0;
}

.btn1 {
  width: 8em;
  border-radius: 25px;
  border: none;
  padding: 1em;
  font-size: 12px;
}
.btn1 a {
  text-decoration: none;
  color: hsl(31, 77%, 52%);
}
.btn1 a:hover {
  text-decoration: none;
  background-color: hsl(31, 77%, 52%);
  color: white;
}
.btn1:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid;
  border-color: white;
  color: white;
}

.btn2 {
  width: 8em;
  border: none;
  border-radius: 25px;
  padding: 1em;
  font-size: 12px;
  color: hsl(184, 100%, 22%);
}
.btn2 a {
  text-decoration: none;
  color: hsl(184, 100%, 22%);
}
.btn2 a:hover {
  text-decoration: none;
  background-color: hsl(184, 100%, 22%);
  color: white;
}
.btn2:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid;
  border-color: white;
  color: white;
}

.btn3 {
  width: 8em;
  border: none;
  border-radius: 25px;
  padding: 1em;
  font-size: 12px;
}
.btn3 a {
  text-decoration: none;
  color: hsl(179, 100%, 13%);
}
.btn3 a:hover {
  text-decoration: none;
  background-color: hsl(179, 100%, 13%);
  color: white;
}
.btn3:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid;
  border-color: white;
  color: white;
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  main  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: fit-content;
  }
}
